.light-mode {
  background-color: #f5f5f5;
  
  color: rgb(0, 123, 255);
}


.light-mode .widget {
  background-color: #ffffff;
  
  color: #333;
  
  border: 1px solid #ddd;
  
}

.light-mode .widget-titlebar {
  background-color: #e9ecef;
  
  color: #495057;
  
}


.light-mode .prompt,
.light-mode #input {
  color: rgb(0, 123, 255);
  
}


.light-mode .widget-content {
  color: rgb(0, 123, 255);
  
}


.light-mode #audio-controls button {
  color: rgb(0, 123, 255);
}

.light-mode #audio-controls button:hover {
  color: rgb(0, 62, 128);
  
}

.light-mode .volume-icon {
  color: rgb(0, 123, 255);
}

.light-mode #terminal {
  color: rgb(0, 123, 255);
}

.light-mode .folder:hover {
  background-color: #007bff57;
  
}

.light-mode button {
  background-color: #007bff;
  
  color: #ffffff;
  border-color: #007bff;
}

.light-mode button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}


.light-mode .chart-line {
  stroke: #495057;
  
}


.light-mode #terminal-body::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 6px;
  
  border: 3px solid #333;
  
}


.light-mode #terminal-body::-webkit-scrollbar-thumb:active {
  background-color: #007bff;
  
}


.light-mode #terminal-body::-webkit-scrollbar-thumb:hover {
  background-color: #007bff;
  
}


.light-mode#terminal-body {
  scrollbar-width: thin;
  
  scrollbar-color: #007bff;
  #333;
}

.light-mode .modal {
  background-color: white;
  color: #0062ca;
  border: 3px solid #e9ecef;
}

.light-mode .modal-header {
  color: black;
  background-color: #e9ecef;
}

.light-mode .modal-header span {
  color: black;
  font-weight: bold;
}

.light-mode .modal-body::-webkit-scrollbar {
  width: 12px;
  
  background-color: #ffffff;
  
}


.light-mode .modal-body::-webkit-scrollbar-thumb {
  background-color: #007bff;
  
  border-radius: 6px;
  
  border: 3px solid white;
  
}


.light-mode .modal-body::-webkit-scrollbar-thumb:active {
  background-color: #0062ca;
  
}


.light-mode .modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #0062ca;
  
}

.light-mode .live-demo-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e9ecef;
  color: #007bff;
  text-decoration: none;
  border-radius: 2.5px;
}

.light-mode .live-demo-button:hover {
  background-color: #f1f1f1;
}

.light-mode .socials-grid a {
  color: #007bff;
  text-decoration: none;
}








.pastel-mode {
  background-color: #e9e8cc;
  
  color: #5c5c8a;
  
}


.pastel-mode .widget {
  background-color: #e0f7fa;
  
  color: #5c5c8a;
  
  border: 1px solid #b2ebf2;
  
}

.pastel-mode .widget-titlebar {
  background-color: #fce4ec;
  
  color: #5c5c8a;
  
}


.pastel-mode .prompt,
.pastel-mode #input {
  color: #5c5c8a;
  
}


.pastel-mode .widget-content {
  color: #5c5c8a;
  
}

.pastel-mode #audio-controls button {
  color: #f8bbd0;
  
}

.pastel-mode #audio-controls button:hover {
  color: #f48fb1;
  
}

.pastel-mode .volume-icon {
  color: #f48fb1;
}

.pastel-mode #terminal {
  color: #5c5c8a;
}

.pastel-mode .folder:hover {
  background-color: #b2ebf2;
  
}

.pastel-mode button {
  background-color: #ba68c8;
  
  color: #ffffff;
  border-color: #ba68c8;
}

.pastel-mode button:hover {
  background-color: #ab47bc;
  
  border-color: #ab47bc;
}


.pastel-mode .chart-line {
  stroke: #5c5c8a;
  
}


.pastel-mode #terminal-body::-webkit-scrollbar-thumb {
  background-color: #f8bbd0;
  
  border-radius: 6px;
  
}


.pastel-mode #terminal-body::-webkit-scrollbar-thumb:active {
  background-color: #f48fb1;
  
}


.pastel-mode #terminal-body::-webkit-scrollbar-thumb:hover {
  background-color: #f48fb1;
  
}


.pastel-mode #terminal-body {
  scrollbar-width: thin;
  
  scrollbar-color: #f8bbd0 #e0f7fa;
  
}

.pastel-mode .modal {
  background-color: #e0f7fa;
  color: #5c5c8a;
  border: 3px solid #fce4ec;
}

.pastel-mode .modal-header {
  color: #5c5c8a;
  background-color: #fce4ec;
}

.pastel-mode .modal-header span {
  color: #5c5c8a;
  font-weight: bold;
}

.pastel-mode .modal-body::-webkit-scrollbar {
  width: 12px;
  
  background-color: #e0f7fa;
  
}


.pastel-mode .modal-body::-webkit-scrollbar-thumb {
  background-color: #fce4ec;
  
  border-radius: 6px;
  
  border: 3px solid #e0f7fa;
  
}


.pastel-mode .modal-body::-webkit-scrollbar-thumb:active {
  background-color: #b98c9c;
  
}


.pastel-mode .modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #b98c9c;
  
}

.pastel-mode .live-demo-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fce4ec;
  color: #5c5c8a;
  text-decoration: none;
  border-radius: 2.5px;
}

.pastel-mode .live-demo-button:hover {
  background-color: #f1f1f1;
}

.pastel-mode .socials-grid a {
  color: #5c5c8a;
  text-decoration: none;
}






.synthwave-mode {
  background-color: #300A24;
  
}


.synthwave-mode .widget {
  background-color: #5E2750;
  
  color: #69e6db;
  
  border: 1px solid #69e6db;
  
}

.synthwave-mode .widget-titlebar {
  background-color: #77216F;
  
  color: #69e6db;
  
}


.synthwave-mode .prompt,
.synthwave-mode #input {
  color: #fb8e06;
  
}


.synthwave-mode .widget-content {
  color: #69e6db;
  
}

.synthwave-mode #audio-controls button {
  color: #fb8e06;
  
}

.synthwave-mode #audio-controls button:hover {
  color: #fb8e06;
  
}

.synthwave-mode .volume-icon {
  color: #fb8e06;
}

.synthwave-mode #terminal {
  color: #E1E1E1;
  
}

.synthwave-mode .folder:hover {
  background-color: #fb8e06
    
}

.synthwave-mode button {
  background-color: #fb8e06
    
    color: #FFFFFF;
  
  border-color: #fb8e06
}

.synthwave-mode button:hover {
  background-color: #CF4813;
  
  border-color: #CF4813;
}


.synthwave-mode .chart-line {
  stroke: #E1E1E1;
  
}


.synthwave-mode #terminal-body::-webkit-scrollbar-thumb {
  background-color: #E95420;
  
  border-radius: 6px;
  
  border: 3px solid #5E2750;
  
}


.synthwave-mode #terminal-body::-webkit-scrollbar-thumb:active {
  background-color: #CF4813;
  
}


.synthwave-mode #terminal-body::-webkit-scrollbar-thumb:hover {
  background-color: #CF4813;
  
}


.synthwave-mode #terminal-body {
  scrollbar-width: thin;
  
  scrollbar-color: #E95420 #5E2750;
  
}

.synthwave-mode .modal {
  background-color: #5E2750;
  color: #69e6db;
  
  border: 1px solid #69e6db;
}

.synthwave-mode .modal-header {
  background-color: #77216F;
  
  color: #69e6db;
  
}

.synthwave-mode .modal-header span {
  color: #69e6db;
  font-weight: bold;
}

.synthwave-mode .modal-body::-webkit-scrollbar {
  width: 12px;
  
  background-color: #5E2750;
  
}


.synthwave-mode .modal-body::-webkit-scrollbar-thumb {
  background-color: #E95420;
  
  border-radius: 6px;
  
  border: 3px solid #5E2750;
  
}


.synthwave-mode .modal-body::-webkit-scrollbar-thumb:active {
  background-color: #CF4813;
  
}

.synthwave-mode .modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #CF4813;
  
}


.synthwave-mode .live-demo-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #77216F;
  color: #69e6db;
  text-decoration: none;
  border-radius: 2.5px;
}

.synthwave-mode .live-demo-button:hover {
  background-color: #e98d6c;
}

.synthwave-mode .socials-grid a {
  color: #69e6db;
  text-decoration: none;
}








.halo-mode {
  background-color: #1B1D1E;
  
  color: #A5C4B4;
  
}


.halo-mode .widget {
  background-color: #2D3133;
  
  color: #A5C4B4;
  
  border: 1px solid #41484D;
  
}

.halo-mode .widget-titlebar {
  background-color: #3E484F;
  
  color: #A5C4B4;
  
}


.halo-mode .prompt,
.halo-mode #input {
  color: #6B8E23;
  
}


.halo-mode .widget-content {
  color: #A5C4B4;
  
}

.halo-mode #audio-controls button {
  color: #6B8E23;
  
}

.halo-mode #audio-controls button:hover {
  color: #556B2F;
  
}


.halo-mode #terminal {
  color: #A5C4B4;
  
}

.halo-mode .folder:hover {
  background-color: #6B8E23;
  
}

.halo-mode button {
  background-color: #6B8E23;
  
  color: #1B1D1E;
  
  border-color: #6B8E23;
}

.halo-mode button:hover {
  background-color: #556B2F;
  
  border-color: #556B2F;
}

.halo-mode .volume-icon {
  color: #556B2F;
}


.halo-mode .chart-line {
  stroke: #A5C4B4;
  
}


.halo-mode #terminal-body::-webkit-scrollbar-thumb {
  background-color: #6B8E23;
  
  border-radius: 6px;
  
  border: 3px solid #2D3133;
  
}


.halo-mode #terminal-body::-webkit-scrollbar-thumb:active {
  background-color: #556B2F;
  
}


.halo-mode #terminal-body::-webkit-scrollbar-thumb:hover {
  background-color: #556B2F;
  
}


.halo-mode #terminal-body {
  scrollbar-width: thin;
  
  scrollbar-color: #6B8E23 #2D3133;
  
}


.halo-mode .modal {
  background-color: #2D3133;
  
  color: #A5C4B4;
  
  border: 1px solid #41484D;
  
}

.halo-mode .modal-header {
  background-color: #3E484F;
  
  color: #A5C4B4;
  
}

.halo-mode .modal-header span {
  color: #A5C4B4;
  font-weight: bold;
}

.halo-mode .modal-body::-webkit-scrollbar {
  width: 12px;
  
  background-color: #3E484F;
  
}


.halo-mode .modal-body::-webkit-scrollbar-thumb {
  background-color: #6B8E23;
  
  border-radius: 6px;
  
  border: 3px solid #3E484F;
  
}


.halo-mode .modal-body::-webkit-scrollbar-thumb:active {
  background-color: #3E484F;
  
}

.halo-mode .modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #6a8e239d;
  
}


.halo-mode .live-demo-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3E484F;
  color: #A5C4B4;
  text-decoration: none;
  border-radius: 2.5px;
}

.halo-mode .live-demo-button:hover {
  background-color: #6B8E23;
}

.halo-mode .socials-grid a {
  color: #A5C4B4;
  text-decoration: none;
}